[Unit]
Description = UECS TB2 Talker
After = rc-local.service

[Service]
ExecStart = /usr/local/bin/tb2c2d.py
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
